
.background {
    background-color: #5C5D5D;
    max-height: calc( 100vh - 48px);
}

.container {
    width: 90%;
    height: calc(100vh - 48px);
    margin: 0 auto;
}

.poster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.poster * {
    max-width: 200px;
    margin: 30px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.poster *:hover {
    background-color: #212121;
    color: #fafafa;
    border: 1px solid white;
    transition: 0.3s;
}