

img {
    width: 200px;
    height: auto;
}

.poster {
    max-width: 300px;
}

.title {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.button {
    width: 100%;
    border: none;
    background-color: lightcoral;
    height: 30px;
    border-radius: 5px;
}

button:disabled {
    color:black;
}