

<div class="background">
    <div class="container">
        <div class="greeting">
            Welcome to Movie Comparator!
        </div>
        <div class="secondary">
            Where you can compare movies of same type side by side
        </div>

        <div class="search">
            <div>
                Start Searching now!
            </div>
            <div id="searchBox">
                <input type="text">
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>
</div>